<!doctype html>
<html lang="en-us" ng-app="providerApp">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Provider Directory</title>
  <link rel="canonical" href="http://localhost:3000/">

  <link rel="icon" href="favicon.ico" />
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png" />
  <meta name="msapplication-config" content="none" />

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="main.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="main.js"></script>

</head>

<bodyy ng-controller="ProvidersController">

  <div class="container-fluid">
    <div class="header">
      <h3 class="text-muted nav-header">
        Provider Directory
      </h3>
      <p>
        <a href="test.html">Run tests</a>
      </p>
    </div>

    <div class="well">
      <div class="row">
        <div class="col-sm-4">
          <form class="">
            <h2>Create Provider</h2>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" placeholder="John">
            </div>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" placeholder="Smith">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="person@example.com">
            </div>
            <div class="form-group">
              <label for="specialty">Email address</label>
              <input type="text" class="form-control" id="specialty" placeholder="Galactic Inquisitor">
            </div>
            <div class="form-group">
              <label for="practice">Practice Name</label>
              <input type="password" class="form-control" id="practice" placeholder="Universal Exports">
            </div>
            <p class="help-block">Add a new provider by entering the information above and clicking
              <strong>Submit</strong>.</p>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="col-sm-8">
          <form class="form-inline clearfix">
            <div class="form-group pull-right">
              <label class="sr-only" for="sort_direction">Sort Direction</label>
              <select id="sort_direction" class="form-control" ng-model="direction_reverse">
                <option value="" selected="selected">Ascending</option>
                <option value="true">Descending</option>
              </select>
            </div>
            <div class="form-group pull-right">
              <label class="sr-only" for="sort">Sort By</label>
              <select id="sort" class="form-control" ng-model="orderProp">
                <option value="">Sort By</option>
                <option value="last_name">Last Name</option>
                <option value="first_name">First Name</option>
                <option value="email_address">Email address</option>
                <option value="specialty">Specialty</option>
                <option value="practice_name">Practice Name</option>
              </select>
            </div>
            <div class="form-group pull-right">
              <label class="sr-only" for="search">Search</label>
              <input type="text" class="form-control" id="search" placeholder="Search" ng-model="query">
            </div>
          </form>
          <h2>Provider List</h2>
          <div id="provider-list-scroller">
            <table class="table table-hover table-striped table-responsive">
              <tbody>
                <tr id="provider-list" ng-repeat="provider in providers | filter:query | orderBy:orderProp:direction_reverse">
                  <td>
                    <input type="checkbox" name="selections[]" ng-model="provider.selected" />
                  </td>
                  <td>
                    <div>
                      <strong>{{provider.last_name}}, {{provider.first_name}}</strong>
                    </div>
                    <span>{{provider.email_address}}</span>
                  </td>
                  <td>
                    <div>{{provider.speciality}}</div>
                    <span>{{provider.practice_name}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pull-right">
            <button class="btn btn-danger" ng-disabled="!any_selections()" ng-click="remove()">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>
