/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 355px;
}

#provider-list-scroller {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  #provider-list-scroller {
    height: 400px;
    overflow-y: auto;
  }
}
